*.tmp       # 
*.cache     #
/tmp        # 忽略文件夹
/*/build    # 忽略所有子目录下的build目录
/build      # 忽略所有子目录下的build目录
/*/*/data
/*/*/engines
/*/*/models
/*/*/targets
/*/data
/data

/*/*.pt     # 忽略所有子目录下以.pt为后缀的文件
/*/*.onnx     # 忽略所有子目录下以.pt为后缀的文件
/*/*.engine     # 忽略所有子目录下以.pt为后缀的文件
/*.pt     # 忽略所有子目录下以.pt为后缀的文件
/*.onnx     # 忽略所有子目录下以.pt为后缀的文件
/*.engine     # 忽略所有子目录下以.pt为后缀的文件
/*/*/*.o     # 忽略所有子目录下以.pt为后缀的文件

